<div class="justify-content-center mt-3">
  <div class="text-center ">
    <h1>Bem vindo a Herb Life</h1>
  </div>
</div>
<div class="container-fluid">
  <div class="row mt-5 paragrafo justify-content-center">
    <div class="col-md-auto bg-info-subtle center-card">
      <p class="">Olá, este é um site feito para <b>amantes de ervas</b> (ou para quem gosta de comer elas)!</p>
      <p>Aqui você vai poder:</p>
      <ul>
        <li>Criar um perfil.</li>
        <li>Adicionar amigos.</li>
        <li>Descobrir qual erva você está vendo.</li>
        <li>Postar sobre comidas que você preparou.</li>
        <li>Conversar com seus amigos virtuais ou até mesmo em grupos.</li>
      </ul>
    </div>
  </div>
</div>
